<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izanacode.karakter.unesa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ok"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ok"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Kuesioner"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.pdf"
            android:exported="true" />
        <activity
            android:name=".view.History"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.HistoryDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.MateriVideo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.MateriBerita"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.RekapKarakter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.TestKarakter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"/>
        <activity
            android:name=".view.TimPengambang"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"  android:exported="true"/>
        <activity
            android:name=".view.Video"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" android:exported="true" />
        <activity
            android:name=".view.VideoWebview"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" android:exported="true" />
        <activity
            android:name=".view.BeritaWebView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"  android:exported="true"/>
        <activity
            android:name=".view.berita"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"  android:exported="true"/>
        <activity
            android:name=".view.MateriDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" android:exported="true" />
        <activity
            android:name=".view.Materi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" android:exported="true"/>
        <activity
            android:name=".view.EditProfil"
            android:screenOrientation="portrait"  android:exported="true"/>
        <activity
            android:name=".view.profil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"  android:exported="true"/>
        <activity
            android:name=".view.Menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"  android:exported="true"/>
        <activity
            android:name=".view.LupaPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" android:exported="true"/>
        <activity
            android:name=".view.Daftar"
            android:screenOrientation="portrait"  android:exported="true"/>
        <activity
            android:name=".view.Login"
            android:screenOrientation="portrait"  android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>